    <div id="mainModal" class="salonist-modal">
        <div class="modal-content">
            <span class="modal-close">&times;</span>
            <div id="formContainer"></div>
        </div>
    </div>